h1,h2,h3,h4,h5{
  font-family: $font-header;
  font-weight: 500;
  color: $color-grey-dark;
}

//----------------------------------------------
//  Headings
//----------------------------------------------
%font-xxl, h1 {
  margin-bottom: $pad-xxs;
  line-height: 1.25;
  @include font-rwd($font-xxl, $font-xxl + $font-scale)
}

%font-xl, h2 {
  margin-bottom: $pad-xxs;
  line-height: 1.25;
  @include font-rwd($font-xl, $font-xl + $font-scale)
}

%font-lg, h3 {
  margin-bottom: $pad-xxs;
  line-height: 1.25;
  @include font-rwd($font-lg, $font-lg + $font-scale)
}

%font-med, h4 {
  margin-bottom: $pad-xxs;
  line-height: 1.25;
  @include font-rwd($font-med, $font-med + $font-scale)
}

%font-base, h5{
  margin-bottom: $pad-xxs;
  line-height: 1.25;
  @include font-rwd($font-base, $font-base + $font-scale)
}

//----------------------------------------------
//  Font Styles
//----------------------------------------------

.font-bold{
  font-weight: 700;
}

//----------------------------------------------
//  paragraphs
//----------------------------------------------
p {
  margin-top: 0;
  margin-bottom: $pad-xs;
}

small {
  display: block;
  margin-bottom: 1em;
  font-size: $font-xs;
}

b, strong{
  font-weight: 700;
}

//----------------------------------------------
//  Selection
//----------------------------------------------
::selection {
  color: white;
  background: $color-alpha;
}

%type-single-line {
  word-spacing: 9999px;
  display: block;
}
