body {
  font-family: $font-paragraph;
  color: $color-grey-dark;
  line-height: 1.5;
  background-color: #fff;
}

h1,h2,h3,h4,h5{
  font-family: $font-header;
  font-weight: 500;
  color: $color-grey-dark;
}

//----------------------------------------------
//  Headings
//----------------------------------------------
%font-xxl, h1 {
  margin-bottom: $pad-xxs;
  line-height: 1.35;
  @include font-rwd($font-xxl, $font-xxxl)
}

%font-xl, h2 {
  margin-bottom: $pad-xxs;
  line-height: 1.35;
  @include font-rwd($font-xl, $font-xxl)
}

%font-lg, h3 {
  margin-bottom: $pad-xxs;
  line-height: 1.4;
  @include font-rwd($font-lg, $font-xl)
}

%font-med, h4 {
  margin-bottom: $pad-xxs;
  line-height: 1.45;
  @include font-rwd($font-med, $font-med + $font-scale)
}

%font-base, h5 {
  margin-bottom: $pad-xxs;
  line-height: 1.35;
  @include font-rwd($font-base, $font-base + $font-scale)
}

//----------------------------------------------
//  Font Styles
//----------------------------------------------

%font-meta,
.font-meta {
  display: block;
  margin-bottom: $pad-xs;
  font-family: $font-header;
  font-weight: 700;
  font-size: $font-xs;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}


%font-title,
.font-title{
  font-family: $font-header;
  font-size: $font-lg;
  font-weight: 700;
}


%font-pretitle,
.font-pretitle {
  display: block;
  margin-bottom: $pad-xs;
  font-family: $font-header;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.font-bold{
  font-weight: 700;
}

//----------------------------------------------
//  paragraphs
//----------------------------------------------
p {
  margin-top: 0;
  margin-bottom: $pad-xs;
}

small {
  display: block;
  margin-bottom: 1em;
  font-size: $font-xs;
}

b, strong{
  font-weight: 700;
}

//----------------------------------------------
//  Selection
//----------------------------------------------
::selection {
  color: white;
  background: $color-alpha;
}

%type-single-line {
  word-spacing: 9999px;
  display: block;
}
