//----------------------------------------------
// Dash Widgets
//----------------------------------------------
.widget{

  i{
    color: #ddd;
  }
  .sep{
    border-top: 1px solid #ddd;
    border-bottom: 0;
  }
}



load-styles.php…ck&ver=4.8.2:3
#templateside, .misc-pub-filename, .pre, .widefat * {
    word-wrap: break-word;
}
load-styles.php…ck&ver=4.8.2:3
img {
    border: none;
}
load-styles.php…ck&ver=4.8.2:3
iframe, img {
    border: 0;
}
Inherited from td.column_post_thumbs.column-column_post_thumbs
load-styles.php…ck&ver=4.8.2:3
.widefat td, .widefat th {
    color: #555;
}
load-styles.php…ck&ver=4.8.2:3
.widefat td, .widefat td ol, .widefat td p, .widefat td ul {
    font-size: 13px;
    line-height: 1.5em;
}
load-styles.php…ck&ver=4.8.2:3
#templateside, .misc-pub-filename, .pre, .widefat * {
    word-wrap: break-word;
}
load-styles.php…ck&ver=4.8.2:3
td {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
Inherited from tr#post-2756.iedit.author-self.level-0.post-2756.type-test.status-publish.has-post-thumbnail.hentry
load-styles.php…ck&ver=4.8.2:3
#templateside, .misc-pub-filename, .pre, .widefat * {
    word-wrap: break-word;
}
Inherited from tbody#the-list
load-styles.php…ck&ver=4.8.2:3
#templateside, .misc-pub-filename, .pre, .widefat * {
    word-wrap: break-word;
}
Inherited from table.wp-list-table.widefat.fixed.striped.posts
load-styles.php…ck&ver=4.8.2:3
.widefat {
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
Inherited from div#wpwrap
load-styles.php…ck&ver=4.8.2:3
#wpwrap {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
}
Inherited from body.wp-admin.wp-core-ui.js.test.admin-post-2762.admin-zap-70.admin-page-template-default.edit-php.auto-fold.admin-bar.post-type-test.branch-4-8.version-4-8-2.admin-color-fresh.locale-en-us.customize-support.svg
load-styles.php…ck&ver=4.8.2:3
body {
    background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}
