//----------------------------------------------
//  Mobile / Small Menu
//  Primary mobile menu
//----------------------------------------------

$menu-open-time: 0.5s;
$grid-pad :  (100% - $grid-width) / 2;

.app-menu-sm {
  z-index: $z-app-menu;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 6em 0;
  background-color: $color-grey-dark;
  transform: translate3d(0,-110%,0);
  transition: transform $menu-open-time $ease-cb-3;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
  overflow: scroll;

  // State: Is Open
  .menu-is-open & {
    transform: translate3d(0,0,0);

    @media (min-width: $mq-med) {
      transform: translate3d(0,-110%,0);
    }
  }

  &__link {
    display: block;
    padding: 0.5em $grid-pad;
    margin-bottom: 0.5em;
    text-align: center;
    overflow: hidden;
    @include font-uppercase($font-base);
    @include links($color-alpha, $color-white);

    span {
      display: block;
      transform: translate3d(0,-110%,0);
      transition: transform 0.5s $menu-open-time ease;

      .menu-is-open:not(.menu-is-closing) & {
        transform: translate3d(0,0%,0);
      }
      .menu-is-closing &, html.is-exiting & {
        transform: translate3d(0,-2em,0) !important;
        transition: transform 0.2s 0 ease;
      }
    }
  }

  &__link-wrap {
    display: block;
    margin: $pad-sm auto;
    text-align: center;
  }

  &__socials {
    margin-top: $pad;
    text-align: center;
  }

  &__social {
    padding: 0 0.5em;
    font-size: 1.5em;
  }


  // Seperators
  &__sep {
    height: 1px;
    background-color: $color-alpha;
    width: 0;
    margin: 1em 0em 1em 1em;
    border: 0;
    transition: width 0.4s $menu-open-time ease;

    .menu-is-open & {
      width: calc(100% - 2em);
    }

    .menu-is-closing &, .is-exiting & {
      width: 0;
    }
  }
}
