//--------------------------------------------
// App Header
//--------------------------------------------
.app-header{
  z-index: $z-app-header;
  position: fixed;
  will-change: transform;
  top: 0;
  display: flex;
  align-items: center;
  height: $header-height-sm;
  width: 100%;
  background-color: $color-white;
  border-bottom: 1px solid $color-grey-light;
  box-shadow: $box-shadow-sm;
  white-space: nowrap;
  transition: background-color 0.25s ease, height 0.35s ease, color 0.3s ease;

  @media (min-width: $mq-med) {
    height: $header-height-lg;
  }

  &__grid {
    z-index: $z-content;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
  }

  &__brand {
    margin-right: auto;
  }

  &__nav {
    margin-left: auto;
  }

  &__link {
    @include links($color-alpha, $color-grey-dark)
  }

  //--------------------------------------------
  // Mobile Menu Toggle
  //--------------------------------------------
  .menu-toggle {
    position: absolute;
    right: 0;
    @media (min-width: $mq-med) {
      display: none;
    }
  }
}
