//--------------------------------------------
// App Header
//--------------------------------------------
.app-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5em;
}
