//----------------------------------------------
//  Button Theme
//  Default Button
//----------------------------------------------
%btn-theme{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
}


//----------------------------------------------
//  Basic Button
//----------------------------------------------
.btn{
  @extend %btn-theme;
  padding: 0.7em 2.5em;
  color: #fff;
  background-color: $color-alpha;
  transition: background-color 0.4s $ease-cb-2, color 0.5s $ease-cb-2;

  &:hover{
    background-color: lighten($color-alpha, 20);
    transition: background-color 0.4s $ease-cb-2, color 0.5s $ease-cb-2;
  }
}
