//----------------------------------------------
//  Button Theme / Reset
//----------------------------------------------
$btn-pad: 1em 2.75em 1.05em;
$btn-pad-lg: 0.9em 3.75em;
$btn-pad-sm: 1rem 1.75rem 0.9rem;

@mixin btn-theme{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  @include font-uppercase;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  backface-visibility: hidden;
}


//----------------------------------------------
//  Basic Button
//----------------------------------------------

.btn{
  @include btn-theme;
  padding: 1.25rem 3rem 1.15rem;
  color: $color-white;
  background-color: $color-alpha;
  border: 1px solid;
  border-color: $color-alpha;
  border-radius: $base-border-radius;
  transition: background-color 0.5s $ease-cb-2, color 0.5s $ease-cb-2, border-color 0.5s $ease-cb-2;

  &:hover, &:focus{
    color: $color-white;
    background-color: $color-grey-dark;
    border-color: $color-grey-dark;
    transition: background-color 0.7s $ease-cb-2, color 0.7s $ease-cb-2, border-color 0.7s $ease-cb-2;
  }
}


//----------------------------------------------
//  Simple Underline Button
//----------------------------------------------

.btn-line {
  @include btn-theme();
  font-size: $font-xs;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.4;
  color: $color-alpha;
  @include link-line-width($color:$color-alpha, $color_hover: $color-alpha);
}

%btn-line-white,
.btn-line.is-white {
  color: $color-white;

  &:after {
    background-color: $color-white;
  }
}

// Btn Line Hover animation
@keyframes btn-line-hover {
  0% { transform: translateX(0) }
  50% { transform: translateX(100%) }
  50.01% { transform: translateX(-100%) }
  to { transform: translateX(0) }
}


//----------------------------------------------
//  Button Groups
//----------------------------------------------

.btns{
  a + a, .btn-wrap + .btn-wrap {
    margin-left: 0.5em;
  }

  &.is-grouped{
    display: flex;
    justify-content: center;

    & > .btn {
      max-width: 16em;
      flex: 1;
    }
  }
}

//----------------------------------------------
//  Btn Group - no pad/space
//----------------------------------------------

.btns.is-attached {

  .btn {
    display: block;

    @media (min-width: $mq-med) {
      display: inline-block;
    }
  }
  .btn:not(:first-child) {
    @media (min-width: $mq-med) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  .btn:not(:last-child) {
    @media (min-width: $mq-med) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-right: -1px;
    }
  }
  .btn:last-child {
    @media (min-width: $mq-med) {
      margin-right: 0;
      margin-left: -1px;
    }
  }
}
