//----------------------------------------------
//  Mast
//----------------------------------------------
.mast{
  position: relative;
  display:block;
  width: 100%;
  margin: 0 auto;
  padding: $pad-lg 0 $pad-sm;


  &__title,  &__subtitle{
    @include font-rwd($font-xl, $font-xxl );
  }

  &__subtitle {
    color: $color-grey;
  }
}

.mast.is-centered {
  text-align: center;
}
