//--------------------------------------------
// Background Color Helpers
//--------------------------------------------
.bg-alpha {
  background-color: $color-alpha;
}

.bg-grey-light {
  background-color: $color-grey-light;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-grey-dark {
  background-color: $color-grey-dark;
}

.bg-white {
  background-color: $color-white;
}

//--------------------------------------------
// Color Helpers
//--------------------------------------------
.color-alpha {
  color: $color-alpha;
}

.color-white {
  color: $color-white;
}
