//--------------------------------------------
// Alignment Helpers
//--------------------------------------------
.text-center{
  text-align: center;
}

//--------------------------------------------
// Visibility Helpers
//--------------------------------------------
.is-hidden {
  display: none !important;
}

.is-visually-hidden {
  position: absolute !important;
  left: -9999px !important;
  height: 1px;
  width: 1px;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.no-interaction {
  pointer-events: none !important;
}

//--------------------------------------------
// Hide Line Breaks
//--------------------------------------------
%no-breaks,
.no-breaks {

  br {
    display: none;
  }
}
