@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-down {
  0%   { opacity: 0; transform: translate3d(0,-110%,0); }
  100% {  opacity: 1; transform: translate3d(0,0,0);  }
}
