//----------------------------------------------
//  User Page Visibilities
//-----------------------------------------------
.user-comment-shortcuts-wrap,
.show-admin-bar,
.user-rich-editing-wrap,
.user-description-wrap,.user-url-wrap {
  display:none
}

//----------------------------------------------
//  Hide Main COntent Editor for module pags
//----------------------------------------------
.admin-contact,
.admin-about,
.admin-home,
.admin-careers,
.admin-contact,
.admin-page-mast-modules,
.post-type-page:not(.admin-page-template-default),
.post-type-page:not(.admin-page-template-mast) {
  #postdivrich{
    display: none;
  }
}

.admin-page-template-default,
.admin-page-template-mast{
  #postdivrich{
    display: block !important;
  }
}

//----------------------------------------------
//  Remove Dash Menu Items, we're adding a new one
//----------------------------------------------
.menu-top-first .wp-first-item{
  display: none;

  & + li{
    display: none;
  }
}

//----------------------------------------------
//  Hide User Fields that we can't unhook
//----------------------------------------------
tr.user-url-wrap,
.user-description-wrap,
.user-rich-editing-wrap,
.user-comment-shortcuts-wrap,
.user-admin-bar-front-wrap {
    display: none !important;
}

//----------------------------------------------
//  Hide Categorey Tabs
//  Removes that pointless "most used" tabs on cat/tax boxes
//-----------------------------------------------
.category-tabs {
  margin: 8px 0 5px;
  display: none;
}
