//----------------------------------------------
//  abs-center()
//  @description: absolutely centers and element
//----------------------------------------------
@mixin abs-center($top:null,$bottom:null,$transform:null){
  position: absolute;
  left: 0;
  right: 0;
  @if $top{
    top: $top;
  }
  @if $bottom{
    bottom: $bottom;
  }
  @if $transform{
    transform: translate3d(0,$transform,0);
  }
  margin: 0 auto;
  text-align:center;
}
