//----------------------------------------------
//  User Page Visibilities
//-----------------------------------------------
.user-comment-shortcuts-wrap,
.show-admin-bar,
.user-rich-editing-wrap,
.user-description-wrap,.user-url-wrap {
  display:none
}

.admin-page-template-default,
.admin-page-template-mast{
  #postdivrich{
    display: block !important;
  }
}

//----------------------------------------------
//  Remove Dash Menu Items, we're adding a new one
//----------------------------------------------
.menu-top-first .wp-first-item{
  display: none;

  & + li{
    display: none;
  }
}

//----------------------------------------------
//  Hide Categorey Tabs
//  Removes that pointless "most used" tabs on cat/tax boxes
//-----------------------------------------------
.category-tabs {
  margin: 8px 0 5px;
  display: none;
}

//----------------------------------------------
//  Modules - Hide Modules
//  Example on hiding Module items for the select.
//----------------------------------------------
.post-type-team{
  .acf-fc-popup {
    a[data-layout="posts_module"],
    a[data-layout="team_selector_module"] {
        display: none !important;
    }
  }
}
