
//----------------------------------------------
// Code
//----------------------------------------------
.code-inline{
  padding: 0.5em;
  background-color: rgba(0,0,0,0);
  border: 1px solid #eee;
}

.code-inline-block{
  display: block;
}

//----------------------------------------------
// Footer
//----------------------------------------------
#wpfooter{
  padding-left: 5em;
  padding-bottom: 1em;
}
